* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

html, body {
    height: 100%;
}

#particles {
    background-image: url('/img/Fucion.jpg');
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}